.idea
.git
######.idea######
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/

######egg-playground######
egg-playground/logs/
egg-playground/npm-debug.log
egg-playground/yarn-error.log
egg-playground/node_modules/
egg-playground/package-lock.json
egg-playground/yarn.lock
egg-playground/coverage/
egg-playground/.idea/
egg-playground/run/
egg-playground/.DS_Store
egg-playground/*.sw*
egg-playground/*.un~
egg-playground/typings/
egg-playground/.nyc_output/

######NeteaseCloudMusicApi######
NeteaseCloudMusicApi/.DS_Store
NeteaseCloudMusicApi/node_modules
NeteaseCloudMusicApi/*.log
NeteaseCloudMusicApi/.idea/
NeteaseCloudMusicApi/package-lock.json
NeteaseCloudMusicApi/.vscode

######angular-realworld-example-app######
angular-realworld-example-app/dist
angular-realworld-example-app/tmp
angular-realworld-example-app/out-tsc
angular-realworld-example-app/node_modules
angular-realworld-example-app/.vscode/
angular-realworld-example-app/.idea
angular-realworld-example-app/.project
angular-realworld-example-app/.classpath
angular-realworld-example-app/.c9/
angular-realworld-example-app/*.launch
angular-realworld-example-app/.settings/
angular-realworld-example-app/*.sublime-workspace
angular-realworld-example-app/.vscode/*
angular-realworld-example-app/!.vscode/settings.json
angular-realworld-example-app/!.vscode/tasks.json
angular-realworld-example-app/!.vscode/launch.json
angular-realworld-example-app/!.vscode/extensions.json
angular-realworld-example-app/.sass-cache
angular-realworld-example-app/connect.lock
angular-realworld-example-app/coverage
angular-realworld-example-app/libpeerconnection.log
angular-realworld-example-app/npm-debug.log
angular-realworld-example-app/testem.log
angular-realworld-example-app/typings
angular-realworld-example-app/yarn-error.log
angular-realworld-example-app/e2e/*.js
angular-realworld-example-app/e2e/*.map
angular-realworld-example-app/.DS_Store
angular-realworld-example-app/Thumbs.db

######nuxt-playground######
nuxt-playground/logs
nuxt-playground/*.log
nuxt-playground/npm-debug.log*
nuxt-playground/yarn-debug.log*
nuxt-playground/yarn-error.log*
nuxt-playground/pids
nuxt-playground/*.pid
nuxt-playground/*.seed
nuxt-playground/*.pid.lock
nuxt-playground/lib-cov
nuxt-playground/coverage
nuxt-playground/.nyc_output
nuxt-playground/.grunt
nuxt-playground/bower_components
nuxt-playground/.lock-wscript
nuxt-playground/build/Release
nuxt-playground/node_modules/
nuxt-playground/jspm_packages/
nuxt-playground/typings/
nuxt-playground/.npm
nuxt-playground/.eslintcache
nuxt-playground/.node_repl_history
nuxt-playground/*.tgz
nuxt-playground/.yarn-integrity
nuxt-playground/.env
nuxt-playground/.cache
nuxt-playground/.next
nuxt-playground/.nuxt
nuxt-playground/dist
nuxt-playground/.vuepress/dist
nuxt-playground/.serverless
nuxt-playground/.idea
nuxt-playground/sw.*
nuxt-playground/.DS_Store
nuxt-playground/*.swp

######ng-wyy######
ng-wyy/dist
ng-wyy/tmp
ng-wyy/out-tsc
ng-wyy/bazel-out
ng-wyy/node_modules
ng-wyy/chrome-profiler-events*.json
ng-wyy/speed-measure-plugin*.json
ng-wyy/.idea
ng-wyy/.project
ng-wyy/.classpath
ng-wyy/.c9/
ng-wyy/*.launch
ng-wyy/.settings/
ng-wyy/*.sublime-workspace
ng-wyy/.vscode/*
ng-wyy/!.vscode/settings.json
ng-wyy/!.vscode/tasks.json
ng-wyy/!.vscode/launch.json
ng-wyy/!.vscode/extensions.json
ng-wyy/.history/*
ng-wyy/.sass-cache
ng-wyy/connect.lock
ng-wyy/coverage
ng-wyy/libpeerconnection.log
ng-wyy/npm-debug.log
ng-wyy/yarn-error.log
ng-wyy/testem.log
ng-wyy/typings
ng-wyy/.DS_Store
ng-wyy/Thumbs.db

######nest-playground######
nest-playground/.idea/**/workspace.xml
nest-playground/.idea/**/tasks.xml
nest-playground/.idea/dictionaries
nest-playground/.idea/**/dataSources/
nest-playground/.idea/**/dataSources.ids
nest-playground/.idea/**/dataSources.xml
nest-playground/.idea/**/dataSources.local.xml
nest-playground/.idea/**/sqlDataSources.xml
nest-playground/.idea/**/dynamic.xml
nest-playground/.idea/**/uiDesigner.xml
nest-playground/.idea/**/gradle.xml
nest-playground/.idea/**/libraries
nest-playground/cmake-build-debug/
nest-playground/.idea/**/mongoSettings.xml
nest-playground/*.iws
nest-playground/out/
nest-playground/.idea_modules/
nest-playground/atlassian-ide-plugin.xml
nest-playground/.idea/replstate.xml
nest-playground/com_crashlytics_export_strings.xml
nest-playground/crashlytics.properties
nest-playground/crashlytics-build.properties
nest-playground/fabric.properties
nest-playground/*.suo
nest-playground/*.user
nest-playground/*.userosscache
nest-playground/*.sln.docstates
nest-playground/*.userprefs
nest-playground/[Dd]ebug/
nest-playground/[Dd]ebugPublic/
nest-playground/[Rr]elease/
nest-playground/[Rr]eleases/
nest-playground/x64/
nest-playground/x86/
nest-playground/bld/
nest-playground/[Bb]in/
nest-playground/[Oo]bj/
nest-playground/[Ll]og/
nest-playground/.vs/
nest-playground/[Tt]est[Rr]esult*/
nest-playground/[Bb]uild[Ll]og.*
nest-playground/*.VisualState.xml
nest-playground/TestResult.xml
nest-playground/[Dd]ebugPS/
nest-playground/[Rr]eleasePS/
nest-playground/dlldata.c
nest-playground/BenchmarkDotNet.Artifacts/
nest-playground/project.lock.json
nest-playground/project.fragment.lock.json
nest-playground/artifacts/
nest-playground/**/Properties/launchSettings.json
nest-playground/*_i.c
nest-playground/*_p.c
nest-playground/*_i.h
nest-playground/*.ilk
nest-playground/*.meta
nest-playground/*.obj
nest-playground/*.pch
nest-playground/*.pdb
nest-playground/*.pgc
nest-playground/*.pgd
nest-playground/*.rsp
nest-playground/*.sbr
nest-playground/*.tlb
nest-playground/*.tli
nest-playground/*.tlh
nest-playground/*.tmp
nest-playground/*.tmp_proj
nest-playground/*.log
nest-playground/*.vspscc
nest-playground/*.vssscc
nest-playground/.builds
nest-playground/*.pidb
nest-playground/*.svclog
nest-playground/*.scc
nest-playground/_Chutzpah*
nest-playground/ipch/
nest-playground/*.aps
nest-playground/*.ncb
nest-playground/*.opendb
nest-playground/*.opensdf
nest-playground/*.sdf
nest-playground/*.cachefile
nest-playground/*.VC.db
nest-playground/*.VC.VC.opendb
nest-playground/*.psess
nest-playground/*.vsp
nest-playground/*.vspx
nest-playground/*.sap
nest-playground/*.e2e
nest-playground/$tf/
nest-playground/*.gpState
nest-playground/_ReSharper*/
nest-playground/*.[Rr]e[Ss]harper
nest-playground/*.DotSettings.user
nest-playground/.JustCode
nest-playground/_TeamCity*
nest-playground/*.dotCover
nest-playground/.axoCover/*
nest-playground/!.axoCover/settings.json
nest-playground/*.coverage
nest-playground/*.coveragexml
nest-playground/_NCrunch_*
nest-playground/.*crunch*.local.xml
nest-playground/nCrunchTemp_*
nest-playground/*.mm.*
nest-playground/AutoTest.Net/
nest-playground/.sass-cache/
nest-playground/[Ee]xpress/
nest-playground/DocProject/buildhelp/
nest-playground/DocProject/Help/*.HxT
nest-playground/DocProject/Help/*.HxC
nest-playground/DocProject/Help/*.hhc
nest-playground/DocProject/Help/*.hhk
nest-playground/DocProject/Help/*.hhp
nest-playground/DocProject/Help/Html2
nest-playground/DocProject/Help/html
nest-playground/publish/
nest-playground/*.[Pp]ublish.xml
nest-playground/*.azurePubxml
nest-playground/*.pubxml
nest-playground/*.publishproj
nest-playground/PublishScripts/
nest-playground/*.nupkg
nest-playground/**/[Pp]ackages/*
nest-playground/!**/[Pp]ackages/build/
nest-playground/*.nuget.props
nest-playground/*.nuget.targets
nest-playground/csx/
nest-playground/*.build.csdef
nest-playground/ecf/
nest-playground/rcf/
nest-playground/AppPackages/
nest-playground/BundleArtifacts/
nest-playground/Package.StoreAssociation.xml
nest-playground/_pkginfo.txt
nest-playground/*.appx
nest-playground/*.[Cc]ache
nest-playground/!*.[Cc]ache/
nest-playground/ClientBin/
nest-playground/~$*
nest-playground/*~
nest-playground/*.dbmdl
nest-playground/*.dbproj.schemaview
nest-playground/*.jfm
nest-playground/*.pfx
nest-playground/*.publishsettings
nest-playground/orleans.codegen.cs
nest-playground/Generated_Code/
nest-playground/_UpgradeReport_Files/
nest-playground/Backup*/
nest-playground/UpgradeLog*.XML
nest-playground/UpgradeLog*.htm
nest-playground/*.mdf
nest-playground/*.ldf
nest-playground/*.ndf
nest-playground/*.rdl.data
nest-playground/*.bim.layout
nest-playground/*.bim_*.settings
nest-playground/FakesAssemblies/
nest-playground/*.GhostDoc.xml
nest-playground/.ntvs_analysis.dat
nest-playground/node_modules/
nest-playground/typings/
nest-playground/*.plg
nest-playground/*.opt
nest-playground/*.vbw
nest-playground/**/*.HTMLClient/GeneratedArtifacts
nest-playground/**/*.DesktopClient/GeneratedArtifacts
nest-playground/**/*.DesktopClient/ModelManifest.xml
nest-playground/**/*.Server/GeneratedArtifacts
nest-playground/**/*.Server/ModelManifest.xml
nest-playground/_Pvt_Extensions
nest-playground/.paket/paket.exe
nest-playground/paket-files/
nest-playground/.fake/
nest-playground/.idea/
nest-playground/*.sln.iml
nest-playground/.cr/
nest-playground/__pycache__/
nest-playground/*.pyc
nest-playground/*.tss
nest-playground/*.jmconfig
nest-playground/*.btp.cs
nest-playground/*.btm.cs
nest-playground/*.odx.cs
nest-playground/*.xsd.cs
nest-playground/OpenCover/
nest-playground/coverage/
nest-playground/.DS_Store
nest-playground/.AppleDouble
nest-playground/.LSOverride
nest-playground/Icon
nest-playground/._*
nest-playground/.DocumentRevisions-V100
nest-playground/.fseventsd
nest-playground/.Spotlight-V100
nest-playground/.TemporaryItems
nest-playground/.Trashes
nest-playground/.VolumeIcon.icns
nest-playground/.com.apple.timemachine.donotpresent
nest-playground/.AppleDB
nest-playground/.AppleDesktop
nest-playground/Network Trash Folder
nest-playground/Temporary Items
nest-playground/.apdisk
nest-playground/=======
nest-playground/docker-compose.yml
nest-playground/.env
nest-playground/dist

######playwright-playground######
playwright-playground/logs
playwright-playground/*.log
playwright-playground/npm-debug.log*
playwright-playground/yarn-debug.log*
playwright-playground/yarn-error.log*
playwright-playground/lerna-debug.log*
playwright-playground/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
playwright-playground/pids
playwright-playground/*.pid
playwright-playground/*.seed
playwright-playground/*.pid.lock
playwright-playground/lib-cov
playwright-playground/coverage
playwright-playground/*.lcov
playwright-playground/.nyc_output
playwright-playground/.grunt
playwright-playground/bower_components
playwright-playground/.lock-wscript
playwright-playground/build/Release
playwright-playground/node_modules/
playwright-playground/jspm_packages/
playwright-playground/web_modules/
playwright-playground/*.tsbuildinfo
playwright-playground/.npm
playwright-playground/.eslintcache
playwright-playground/.rpt2_cache/
playwright-playground/.rts2_cache_cjs/
playwright-playground/.rts2_cache_es/
playwright-playground/.rts2_cache_umd/
playwright-playground/.node_repl_history
playwright-playground/*.tgz
playwright-playground/.yarn-integrity
playwright-playground/.env
playwright-playground/.env.test
playwright-playground/.cache
playwright-playground/.parcel-cache
playwright-playground/.next
playwright-playground/out
playwright-playground/.nuxt
playwright-playground/dist
playwright-playground/.cache/
playwright-playground/.vuepress/dist
playwright-playground/.serverless/
playwright-playground/.fusebox/
playwright-playground/.dynamodb/
playwright-playground/.tern-port
playwright-playground/.vscode-test
playwright-playground/.yarn/cache
playwright-playground/.yarn/unplugged
playwright-playground/.yarn/build-state.yml
playwright-playground/.yarn/install-state.gz
playwright-playground/.pnp.*

######ngrx-playground######
ngrx-playground/logs
ngrx-playground/*.log
ngrx-playground/.nyc
ngrx-playground/.nyc_output
ngrx-playground/pids
ngrx-playground/*.pid
ngrx-playground/*.seed
ngrx-playground/lib-cov
ngrx-playground/coverage
ngrx-playground/.grunt
ngrx-playground/build/Release
ngrx-playground/.lock-wscript
ngrx-playground/.DS_Store
ngrx-playground/ehthumbs.db
ngrx-playground/Icon?
ngrx-playground/Thumbs.db
ngrx-playground/node_modules
ngrx-playground/bower_components
ngrx-playground/src/typings/tsd/
ngrx-playground/typings/
ngrx-playground/tsd_typings/
ngrx-playground/dist
ngrx-playground/public/__build__/
ngrx-playground/src/*/__build__/
ngrx-playground/__build__/**
ngrx-playground/.webpack.json
ngrx-playground/doc
ngrx-playground/.idea/
ngrx-playground/*.iml
ngrx-playground/*.swp
ngrx-playground/!/typings/custom.d.ts
ngrx-playground/.vscode/
ngrx-playground/release
ngrx-playground/dist
ngrx-playground/bazel-out
ngrx-playground/bazel-bin
ngrx-playground/node_modules/
ngrx-playground/lerna-debug.log
ngrx-playground/lib/
ngrx-playground/ngfactory
ngrx-playground/output
ngrx-playground/*.ngsummary.json
ngrx-playground/*.ngfactory.ts
ngrx-playground/tmp
ngrx-playground/example-dist/
ngrx-playground/*.tgz
ngrx-playground/modules/*/schematics-core/testing
ngrx-playground/!modules/schematics-core/testing

